@define-color bg #1d2021;
@define-color fg #fbf1c7;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #66cccc;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color orange #d65d0e;


window#waybar {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    font-size: 12px;
    background: transparent;
    color: @fg;
}

.modules-left, .modules-center, .modules-right {
    background-color: @bg;
    border-radius: 15px;
}

#workspaces button { margin: 0; padding: 0 10px; border-radius: 0; color: @fg }
#workspaces button.focused { color: @blue; font-weight: bold;}

#battery, #pulseaudio, #network, #disk, #clock { padding: 0 8px; }
#pulseaudio { padding-left: 16px; }
#clock { padding: 0 16px; }
#battery { padding-right: 16px; }
