@import '/home/rockenchanter/.cache/wal/colors-waybar.css';


window#waybar {
    font-family: 'CaskaydiaCove Nerd Font Mono';
    font-size: 12px;
    background-color: @background;
    color: @foreground;
}

#battery, #pulseaudio, #network, #disk, #clock, #language, #custom-screenshot, #mpd { 
    padding: 0 8px; 
    border-radius: 10px;
}

#workspaces button { margin: 0; padding: 0 10px; color: @foreground; border-radius: 0}
#workspaces button.focused { color: @color5;}

#custom-screenshot { color: @color2; }
#network           { color: @color2; }
#battery           { color: @color2; }
#mpd               { color: @color2; }
#clock          { color: @color2; }

#pulseaudio        { color: @color5; }
#disk              { color: @color5; }
#language          { color: @color5; }
