@import "/home/luke/.cache/wal/colors-waybar.css";


window#waybar {
    background-color: @background;
    color: @foreground;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}



#workspaces button { padding: 0; margin: 0 5px; color: @foreground;}
#workspaces button.focused { color: @color1; }

.modules-right { color: @background; }

#mpd { color: @color3; margin-left: 10px;}

#pulseaudio, #clock, #battery, #disk, #network { padding: 0 5px; }
#pulseaudio { background-color: @color4; }
#network { background-color: @color3; }
#disk { background-color: @color2; }
#battery { background-color: @color1; }
